- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- User
- styles.add(["/styles/style.css"])

doctype 5
html(lang="en")
  head
    script(src="//use.typekit.net/xnh4htv.js")
    script.
      try{Typekit.load();}catch(e){}
    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //-
      Use the .htaccess and remove these lines to avoid edge case issues.
      More info: h5bp.com/i/378
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Icons
    link(rel="shortcut icon", href="/ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="/ico/apple-touch-icon-57-precomposed.png")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")
        
    // Styles
    != styles.toHTML()

  body

    // Markup
    .row.navigation-bar
      .col-sm-3.navigation-header
        a.site-title.spacedapart(href="/") OMER WAZIR
      .col-sm-9
        ul.list-inline.site-page-list
            each doc in getCollection('pages').toJSON()
              - clazz = (document.url === doc.url) ? 'active' : null
              li(typeof="sioc:Page", about=doc.url, class=clazz)
                a.site-page.spacedapart(href=doc.url, property="dc:title")= doc.title
    .container
      .row
        .col-md-12
          section!= content
    // Scripts
    script.
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-32626678-3', 'omerwazir.com');
     ga('send', 'pageview');

    script.
      window.appInsights={queue:[],applicationInsightsId:null,accountId:null,appUserId:null,configUrl:null,start:function(n){function u(n,t){n[t]=function(){var i=arguments;n.queue.push(function(){n[t].apply(n,i)})}}function f(n){var t=document.createElement("script");return t.type="text/javascript",t.src=n,t.async=!0,t}function r(){i.appendChild(f("//az416426.vo.msecnd.net/scripts/ai.0.js"))}var i,t;this.applicationInsightsId=n;u(this,"logEvent");u(this,"logPageView");i=document.getElementsByTagName("script")[0].parentNode;this.configUrl===null?r():(t=f(this.configUrl),t.onload=r,t.onerror=r,i.appendChild(t));this.start=function(){}}};
      appInsights.start("1629f35d-3b01-4967-ab16-6545ce3f3f6e");
      appInsights.logPageView();

    != scripts.toHTML()