---
layout: default
---

article.blog-post
  h1.jumbotron.text-center.blog-post-title.condensedHeading= document.title
  p.blog-post-meta.spacedHeading.serif= document.humanDate
  p.lead.blog-post-lead= document.lead
  .post-content!= content

footer
  if document.relatedDocuments && document.relatedDocuments.length
    section#related
      h3 Related Posts
      nav.linklist
        each doc in document.relatedDocuments
          li
            span= doc.date.toDateString()
            |  &raquo;&nbsp;
            a(href=doc.url)= doc.title
